# YouTube Data API v3 key
# Get one: https://console.cloud.google.com/apis/library/youtube.googleapis.com
# Without this key, the YouTube video sections on homepage and story pages will be hidden.
YOUTUBE_API_KEY=

# Matomo Analytics
# See: https://matomo.org
NEXT_PUBLIC_MATOMO_URL=https://openpitlane.matomo.cloud
NEXT_PUBLIC_MATOMO_SITE_ID=1
