# YouTube Data API v3 key
# Get one: https://console.cloud.google.com/apis/library/youtube.googleapis.com
# Without this key, the YouTube video sections on homepage and story pages will be hidden.
YOUTUBE_API_KEY=
